.Bottom-container {
    width:100%;
}

.Bottom-container > form {
    max-width: 1225px;
    min-height: 1311px;
    background: #fff;
    margin:-100px auto;
    position: relative;
    top:-290px;


}
.Bottom-container > form > div {
    padding:50px;
    float:left;
}

.Bottom-container > form > div > h1 {
    font-size: 38px;

    margin-top:50px;
    margin-bottom: 22px;

}

.Bottom-container > form > div > p {
    font-size:18px;
    font-weight: 600;
    margin-bottom: 60px;
    line-height: 36px;
    margin-left: 7px;
    max-width: 600px;

}
.Bottom-container > form > div > p:nth-child(4) {
    font-size:18px;

    font-weight: 600;
    margin-bottom: 25px;
    margin-left: 7px;
    max-width: 600px;
}
.Bottom-container > form > div > p:nth-child(5) {
    font-size:18px;
    font-weight: 600;
    margin-bottom: 24px;
    line-height: 36px;
    margin-left: 7px;
    max-width: 600px;
}
.Bottom-container > form  > img {
     position:relative;
    left:50px;
    bottom:-120px;
    width:400px;
    height:400px;
    margin-bottom: 80px;
}

.notice-font {
    font-size: 13px !important;
    font-weight: normal;
}


/** Media Query LatTop (1440px) **/
@media screen and (max-width: 1440px) {
    .Bottom-container {
        width:100%;
        margin-top: 23px;
        padding-bottom: -80px;

    }

    .Bottom-container > form {
        max-width: 1100px;
        min-height: 1107px;
        background:#fff;
        margin:-120px auto;
    }

    .Bottom-container > form > div  {
        padding:45px;
    }

    .Bottom-container > form > div > h1 {
        font-size: 38px;
        margin-top:50px;

    }

    .Bottom-container > form > div > p  {
        font-size:16px;

        font-weight: 600;
        margin-bottom: 25px;
        line-height: 36px;
        margin-left: 7px;
        max-width: 767px;
    }

    .Bottom-container > form > div > p:nth-child(4) {
        font-size:16px;

        font-weight: 600;
        margin-bottom: 25px;
        line-height: 36px;
        margin-left: 7px;
        max-width: 767px;
    }
    .Bottom-container > form > div > p:nth-child(5) {
        font-size:18px;
        font-weight: 600;
        margin-bottom: 24px;
        line-height: 36px;
        margin-left: 7px;
        max-width: 767px;
    }
    .Bottom-container > form  > img {
        position:relative;
        left:50px;
        bottom:-20px;
        width:400px;
        height:400px;
        margin-bottom: 80px;
        margin-right: 80px;
    }
}


/* Media Query  LatTop (1024px) */
@media screen and (max-width: 1024px) {
    .Bottom-container {
        width:100%;
        margin-top: 43px;

    }

    .Bottom-container > form {
        max-width: 960px;
        min-height: 1507px;
        padding-bottom: 20px;
        background:#fff;
        margin:-200px auto;

    }

    .Bottom-container > form > div  {
        padding:25px;
    }

    .Bottom-container > form > div > p  {
        font-size:20px;
        font-weight: bold;
        margin-bottom: 50px;
        line-height: 40px;
        margin-left: 7px;
    }

    .Bottom-container > form > div > h1 {
        font-size: 28px;
        margin-top:50px;
    }
    .Bottom-container > form > div > p:nth-child(4) {
        font-size:15px;
        font-weight: 600;
        margin-bottom: 25px;
        line-height: 36px;
        margin-left: 7px;
        max-width: 767px;
    }
    .Bottom-container > form > div > p:nth-child(5) {
        font-size:15px;
        font-weight: 600;
        margin-bottom: 24px;
        line-height: 36px;
        margin-left: 7px;
        max-width: 767px;
    }
    .Bottom-container > form  > img {
        position:relative;
        left:50px;
        bottom:-20px;
        width:300px;
        height:300px;
        margin-bottom: 50px;
        margin-right: 80px;
    }
}


/* Media Query Tablet (768px) */
@media screen and (max-width: 768px) {
    .Bottom-container {
        width:100%;
        margin-top: 413px;
        padding-bottom: 210px;
        z-index:-999;
    }

    .Bottom-container > form  {
        max-width:680px;
        min-height: 656px;
        background:#fff;
        margin:-300px auto;
        z-index:-999;

    }

    .Bottom-container > form > div {
        padding:15px;
        z-index:-999;
    }


    .Bottom-container > form > div > p {
        font-size:14px;
        font-weight: bold;
        margin-bottom: 10px;
        line-height: 24px;
        margin-left: 7px;
        z-index:-999;
    }
    .Bottom-container > form > div > p:nth-child(4) {
        font-size:15px;
        font-weight: 600;
        margin-bottom: 10px;
        margin-left: 7px;
        max-width: 767px;
        display:none;

    }
    .Bottom-container > form > div > p:nth-child(5) {
        font-size:15px;
        font-weight: 600;
        margin-bottom: 24px;
        line-height: 36px;
        margin-left: 7px;
        max-width: 767px;
        display:none;
    }

    .Bottom-container > form > div > p:nth-child(2) {
    }
}

/* @media Query MobileL (425px) */
@media screen and (max-width: 425px) {
    .Bottom-container {
        width:100%;
        margin-top: 200px;
        margin-bottom: -240px;
        padding-bottom: -1000px;
    }

    .Bottom-container > form {
        max-width:380px;
        min-height: 741px;
        background:#fff;
        margin:-100px auto;
    }

    .Bottom-container > form > div {
        padding:25px;
    }


    .Bottom-container > form > div > p {
        font-size:14px;
        margin-bottom: 20px;
        line-height: 20px;
        margin-left: 7px;
    }
    .Bottom-container > form > div > h1 {
        font-size: 28px;
        margin-top:50px;
    }
    .Bottom-container > form > div > p:nth-child(4) {
        font-size:15px;
        font-weight: 600;
        margin-bottom: 25px;
        line-height: 36px;
        margin-left: 7px;
        max-width: 767px;
    }
    .Bottom-container > form > div > p:nth-child(5) {
        font-size:15px;
        font-weight: 600;
        margin-bottom: 24px;
        line-height: 36px;
        margin-left: 7px;
        max-width: 767px;
    }
}

/* @media Query Iphone6/7/8 (375px) */
@media screen and (max-width: 375px) {
    .Bottom-container {
        width:100%;
        margin-top: 100px;
        margin-bottom: -500px;
    }

    .Bottom-container > form {
        max-width: 300px;
        min-height: 240px;
        background: #fff;
        margin: 70px auto;
        padding-bottom: -1200px;
    }

    .Bottom-container > form > div {
        padding:25px;
    }

    .Bottom-container > form > div > h1 {
        font-size: 18px;
        margin-top:20px;
    }
    .Bottom-container > form > div > p {
        font-size:12px;
        font-weight: bold;
        margin-bottom: 10px;
        line-height: 24px;
        margin-left: 4px;
    }

    .Bottom-container > form > div > p:nth-child(4) {
        font-size:14px;
        font-weight: 600;
        margin-bottom: 25px;
        line-height: 24px;
        margin-left: 7px;
        max-width: 767px;
    }
    .Bottom-container > form > div > p:nth-child(5) {
        font-size:15px;
        font-weight: 600;
        margin-bottom: 24px;
        line-height: 24px;
        margin-left: 7px;
        max-width: 767px;
    }
    .Bottom-container > form  > img {
        position:relative;
        left:15px;
        bottom:-20px;
        width:250px;
        height:220px;
        margin-bottom: 80px;
        margin-right: 80px;
    }
}