.WhiteList-container {
    width:100%;
    min-height: 460px;
    background:#fff;
    margin-top:-400px;
    padding-bottom:100px;
    z-index:-999;
    display:block;
    border:1px solid white;
}
.WhiteList-container > div:nth-child(1) {
    max-width:1345px;
    min-height: 364px;
    margin:auto;

}
.WhiteList-container > div:nth-child(1)> div:nth-child(1) {
    margin-top:225px;
    font-size: 32px;
}
.WhiteList-container > div:nth-child(1) > div:nth-child(1) > h1 {
    margin-bottom: 20px;
    margin-left:-42px;
    text-align: center;
    text-transform: uppercase;
    color:#eb1a53;
    text-shadow: 5px -5px #93f7f3;

}
.WhiteList-container > div:nth-child(1) > div:nth-child(1) > h1:before {
    color:red;
}
.WhiteList-container > div:nth-child(1) > div:nth-child(1) > h1:after {
    content:"";
    color:#eb1a53;
    position: absolute;
    top: 0px;
    left: 10px;
    right: 0px;
    bottom: 0px;
    width:100%;
}
.WhiteList-container > div:nth-child(1) > div:nth-child(1) > p {
    margin-bottom:24px;
    font:  bold 18px/34px arial;
    font-family: -apple-system;
    margin-bottom:52px;
    text-align: center;
    margin-left:-40px;
}
.WhiteList-container > div:nth-child(1) > div >  button  {
    width:340px;
    height:63px;
    margin-bottom:44px;
    border-radius: 34px 34px 34px 34px;
    border: 2px solid #db154a;
    position:relative;
    background:#db154a;
    color:#ffffff;
    left:450px;
    font-size:30px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1;
}


/* click 버튼 */
.WhiteList-container > div:nth-child(1) >  div > button:last-child  {
    width:271px;
    height:63px;
    margin:78px 0px 91px 0px;
    border-radius: 34px 34px 34px 34px;
    position:relative;
    left:450px;
    top:0px;
    font-size:30px;
    font-weight: bold;
    text-transform: uppercase;
    background:#db154a;

}
.WhiteList-container > div:nth-child(1) >  div > button:last-child:hover {
    color:#ffffff;
    background: red;
    transition: 1.5s;
}
.WhiteList-container > div:nth-child(1) >  div > button:last-child > a:focus {
    display:none;
}


.WhiteList-container > div:nth-child(1) >  div > button:last-child > a {
    color:#ffffff;
}
.WhiteList-container > div:nth-child(1) >  div > button:last-child:hover > a {
    color:#ffffff;
}
.WhiteList-container > div:nth-child(1) > div:nth-child(1) > .subscribe {
    width:100%;
    height:402px;
    position: relative;
}
div:nth-child(1) > .subscribe > div {
    max-width:1140px;
    min-height: 100px;
    margin:auto;
}
div:nth-child(1) > .subscribe > div > button:first-child {
    width:220px;
    height:66px;
    padding:20px 10px;
    float:left;
    font-size:22px;
    font-weight: 500;
    text-transform: uppercase;
    color:#ffffff;
    border:none;
    line-height: 0px;
    margin-bottom: 30px;
    background:#db154a;
    margin-right: 50px;
}
div:nth-child(1) > .subscribe > div >  button:first-child > .icon {
    margin-right: 10px;
}
div:nth-child(1) > .subscribe > div > button:first-child:active {
    border:none;
    opacity:80%;
}
div:nth-child(1) > .subscribe > div > h1 {
    font-size:26px;
    text-align: left;
    margin-right: 20px;
    padding-bottom:20px;
    padding-top: 10px;
    border:0.5px solid gray;

}
div:nth-child(1) > .subscribe > div > button:last-child  {
    float:right;
    border:none;
    position:relative;
    right:20px;
    bottom:67px;
    padding:15px;
    color:#ffffff;
    font-size:30px;
    background:#db154a;
}
div:nth-child(1) > .subscribe > div > button:last-child > a {
    font-size:31px;
    color:#ffffff;
}
div:nth-child(1) > .subscribe > div > button:last-child:hover{
    border:none;
    opacity: 80%;

 }
/** Media Query LatTop L(1440px) */
@media screen and (max-width: 1440px) {
    .WhiteList-container {
        width:100%;
        min-height: 1109px;
        overflow: hidden;
        margin-top:-500px;
    }

    .WhiteList-container > div:nth-child(1) {
        max-width:1200px;
        min-height: 924px;
        margin:auto;
    }

    .WhiteList-container > div:nth-child(1)> div:nth-child(1){
        margin-top:10px;
        font-size: 30px;
        padding-top:100px;
    }

    .WhiteList-container > div:nth-child(1) > div:nth-child(1) > h1 {
        color:red;
        margin-top:10px;
        margin-bottom: 20px;
        margin-left: 120px;

    }
    .WhiteList-container > div:nth-child(1) > div:nth-child(1) > p {
        margin-bottom:24px;
        font:  bold 18px/34px arial;
        margin-left:120px;
        font-family: -apple-system;
        margin-bottom:52px;
    }

    .WhiteList-container > .WhiteList-components > div:nth-child(1) > div {
        width:100%;
        display:block;
        max-width:1223px;
    }


    .WhiteList-container > .WhiteList-components > div:nth-child(1) > div > a > img{
        max-width:900px;
        height: 250px;
        border:1px solid red;
        grid-template-columns: 150px 150px 150px;
        margin-left:50px;
        margin-right: -20px;
        margin-bottom:20px;
        position:relative;
        left:60px;

    }

    .Story-container > .Story-components > div:nth-child(1) > div > a > img:hover {
        transform: scale(1.05);
        transition: 0.5s;
    }
    /* NFT 버튼 */
    .Story-container > .Story-components >  button {
        width:271px;
        height:63px;
        background: linear-gradient(135deg, transparent 15px, #ffffff 0) top left;
        margin:78px 0px 91px 0px;
        border-radius: 34px 34px 34px 34px;
        border: 2px solid #db154a;
        position:relative;
        left:500px;
        top:20px;
        font-size:30px;
        font-weight: bold;
        color:#db154a;
        text-transform: uppercase;
    }
    .NFT-Button-container > .Link {
        color:#fff;

    }

}

/** Media Query LatTop (1024px) */
@media screen and (max-width: 1024px) {
    .WhiteList-container {
        width:100%;
        min-height: 540px;

    }
    .WhiteList-container > div:nth-child(1) {
        max-width:980px;
        min-height: 600px;
        margin:auto;
    }
    .WhiteList-container > div:nth-child(1)> div:nth-child(1) {
        margin-top:105px;
        font-size: 32px;
    }
    .WhiteList-container > div:nth-child(1) > div:nth-child(1) > h1 {
        margin-bottom: 20px;
        margin-left:-42px;
        text-align: center;
        text-transform: uppercase;
        color:#eb1a53;
        text-shadow: 5px -5px #93f7f3;

    }
    .WhiteList-container > div:nth-child(1) > div:nth-child(1) > h1:before {
        color:red;
    }
    .WhiteList-container > div:nth-child(1) > div:nth-child(1) > h1:after {
        content:"";
        color:#eb1a53;
        position: absolute;
        top: 0px;
        left: 10px;
        right: 0px;
        bottom: 0px;
        width:100%;
    }
    .WhiteList-container > div:nth-child(1) > div:nth-child(1) > p {
        margin-bottom:24px;
        font:  bold 18px/34px arial;
        font-family: -apple-system;
        margin-bottom:52px;
        text-align: center;
        margin-left:-40px;
    }
    .WhiteList-container > div:nth-child(1) > div >  button  {
        width:340px;
        height:63px;
        margin-bottom:44px;
        border-radius: 34px 34px 34px 34px;
        border: 2px solid #db154a;
        position:relative;
        background:#db154a;
        color:#ffffff;
        left:450px;
        font-size:30px;
        font-weight: bold;
        text-transform: uppercase;
        z-index: 1;
    }
    .WhiteList-container > div:nth-child(1) > div > button:first-child > a {
        color:#ffffff;
    }
    /* NFT 버튼 */
    .WhiteList-container > div:nth-child(1) >  div > button:last-child  {
        width:271px;
        height:63px;
        margin:78px 0px 91px 0px;
        border-radius: 34px 34px 34px 34px;
        position:relative;
        left:350px;
        top:0px;
        font-size:30px;
        font-weight: bold;
        text-transform: uppercase;
        background:#db154a;

    }
    .WhiteList-container > div:nth-child(1) >  div > button:last-child:hover {
        color:#ffffff;
        background: red;
        transition: 1.5s;
    }
    .WhiteList-container > div:nth-child(1) >  div > button:last-child > a {
        color:#ffffff;
    }
    .WhiteList-container > div:nth-child(1) >  div > button:last-child:hover > a {
        color:#ffffff;
    }
    .WhiteList-container > div:nth-child(1) > div:nth-child(1) > .subscribe {
        width:100%;
        height:402px;
        position: relative;
    }
    div:nth-child(1) > .subscribe > div {
        max-width:1140px;
        min-height: 100px;
        margin:auto;
    }
    div:nth-child(1) > .subscribe > div > button:first-child {
        width:220px;
        height:66px;
        padding:20px 10px;
        float:left;
        font-size:22px;
        font-weight: 500;
        text-transform: uppercase;
        color:#ffffff;
        border:none;
        line-height: 0px;
        margin-bottom: 30px;
        background:#db154a;
        margin-right: 50px;
    }
    div:nth-child(1) > .subscribe > div >  button:first-child > .icon {
        margin-right: 10px;
    }
    div:nth-child(1) > .subscribe > div > button:first-child:active {
        border:none;
        opacity:80%;
    }
    div:nth-child(1) > .subscribe > div > h1 {
        font-size:26px;
        text-align: left;
        margin-right: 20px;
        padding-bottom:20px;
        padding-top: 10px;
        border:0.5px solid gray;

    }

    div:nth-child(1) > .subscribe > div > button:last-child  {
        float:right;
        border:none;
        position:relative;
        right:20px;
        bottom:67px;
        padding:15px;
        color:#ffffff;
        font-size:30px;
        background:#db154a;
    }
    div:nth-child(1) > .subscribe > div > button:last-child > a {
        font-size:31px;
        color:#ffffff;
    }
    div:nth-child(1) > .subscribe > div > button:last-child:hover{
        border:none;
        opacity: 80%;

    }
}

/** Media Query Tablet (768px) */
@media screen and (max-width: 768px) {
    .WhiteList-container {
        width:100%;
        min-height: 1222px;
        overflow: hidden;

    }

    .WhiteList-container > div:nth-child(1) {
        max-width:728px;
        margin-left: 20px;
        min-height: 924px;
    }

    .WhiteList-container > div:nth-child(1)> div:nth-child(1) {
        margin-top:165px;
        font-size: 30px;
        margin-left: 20px;
    }

    .WhiteList-container > div:nth-child(1) > div:nth-child(1) > h1 {
        color:red;
        margin-top:10px;
        margin-bottom: 20px;
        margin-left: 45px;

    }
    .WhiteList-container > div:nth-child(1) > div:nth-child(1) > p {
        margin-bottom:24px;
        font:  bold 18px/34px arial;
        margin-left: 45px;
        font-family: -apple-system;
        margin-bottom:52px;
    }


    .Story-container > .Story-components > div:nth-child(1) > div > a > img:hover {
        transform: scale(1.05);
        transition: 0.5s;
    }

    /* NFT 버튼 */
    .WhiteList-container > div:nth-child(1) >  div > button:last-child  {
        width:271px;
        height:63px;
        margin:78px 0px 91px 0px;
        border-radius: 34px 34px 34px 34px;
        position:relative;
        left:280px;
        top:0px;
        font-size:30px;
        font-weight: bold;
        text-transform: uppercase;
        background:#db154a;

    }
    .WhiteList-container > div:nth-child(1) >  div > button:last-child:hover {
        color:#ffffff;
        background: red;
        transition: 1.5s;
    }
    .WhiteList-container > div:nth-child(1) >  div > button:last-child > a {
        color:#ffffff;
    }

}


/** Media Query MoblieL (425px) */
@media screen and (max-width: 425px) {
    .WhiteList-container {
        width:100%;
        border:1px solid red;
        min-height: 860px;
        overflow: hidden;
    }

    .WhiteList-container > div:nth-child(1) {
        max-width:375px;
        min-height: 160px;
        margin:auto;
    }

    .WhiteList-container > div:nth-child(1)> div:nth-child(1) {
        margin-top:99px;
        font-size: 20px;
    }

    .WhiteList-container > div:nth-child(1) > div:nth-child(1) > h1 {
        color:blue;
        margin-top:10px;
        margin-bottom: 20px;
        margin-left: 1px;


    }
    .WhiteList-container > div:nth-child(1) > div:nth-child(1) > p {
        font:  bold 15px/24px arial;
        font-family: -apple-system;
    }
    div:nth-child(1) > .subscribe > div > h1 {
        font-size:10px;
        text-align: left;
        padding-bottom:20px;
        padding-top: 10px;
        border:0.5px solid gray;

    }

    div:nth-child(1) > .subscribe > div > button:first-child {
             width:120px;
             height:46px;
             padding:10px 10px;
             float:left;
             font-size:14px;
             font-weight: 500;
             text-transform: uppercase;
             color:#ffffff;
             border:none;
             line-height: 0px;
             margin-bottom: 30px;
             background:#db154a;
             margin-right: 50px;
         }
    div:nth-child(1) > .subscribe > div >  button:first-child > .icon {
        margin-right: 0px;
    }
    div:nth-child(1) > .subscribe > div > button:first-child:active {
        border:none;
        opacity:80%;
    }
    div:nth-child(1) > .subscribe > div > button:last-child  {
        float:right;
        border:none;
        position:relative;
        right:20px;
        bottom:47px;
        padding:6px;
        color:#ffffff;
        font-size:30px;
        background:#db154a;
    }
    div:nth-child(1) > .subscribe > div > button:last-child > a {
        font-size:14px;
        color:#ffffff;
    }
    div:nth-child(1) > .subscribe > div > button:last-child:hover{
        border:none;
        opacity: 80%;

    }
    .WhiteList-container > div:nth-child(1) >  div > button:last-child  {
        width:271px;
        height:46px;
        margin:8px 0px 91px 0px;
        border-radius: 34px 34px 34px 34px;
        position:relative;
        left:50px;
        top:10px;
        font-size:15px;
        font-weight: bold;
        text-transform: uppercase;
        background:#db154a;

    }
    .WhiteList-container > div:nth-child(1) >  div > button:last-child:hover {
        color:#ffffff;
        transition: 1.5s;
    }
    .WhiteList-container > div:nth-child(1) >  div > button:last-child > a {
        color:#ffffff;
    }

}



/** Media Query Iphone X (375px) */
@media screen and (max-width:375px) {
    .Story-container {
        width:100%;
        min-height: 920px;
        overflow: hidden;
    }

    .Story-container > .Story-components {
        max-width:375px;
        min-height: 940px;
        margin:auto;
    }

    .Story-container > .Story-components > div:nth-child(1){
        margin-top:49px;
        font-size: 20px;
    }

    .Story-container > .Story-components > div:nth-child(1) > h1 {
        color:red;
        margin-top:10px;
        margin-bottom: 20px;
        margin-left: 24px;

    }
    .Story-container > .Story-components > div:nth-child(1) > p {
        font:  bold 14px/38px arial;
        margin-left: 24px;
        font-family: -apple-system;
        margin-bottom:52px;
    }

    .Story-container > .Story-components > div:nth-child(1) > div {
        max-width:400px;
        min-height: 200px;
        display:flex;
        margin-left:-50px;
        overflow-x: scroll;
        scroll-behavior: smooth;
        overflow-scrolling: touch;

    }


    .Story-container > .Story-components > div:nth-child(1) > div > a > img{
        max-width:300px;
        height: 200px;
        margin-bottom:20px;
        float:left;
        border:none;
        overflow-x: scroll;
        margin-left: 80px;
        margin-right: 20px;

    }

    .Story-container > .Story-components > div:nth-child(1) > div > a > img:hover {
        transform: scale(1.05);
        transition: 0.5s;
    }
    /* NFT 버튼 */
    .Story-container > .Story-components >  button {
        width:160px;
        height:63px;
        background: linear-gradient(135deg, transparent 15px, #ffffff 0) top left;
        margin:78px 0px 91px 0px;
        border-radius: 34px 34px 34px 34px;
        border: 2px solid #db154a;
        position:relative;
        left:100px;
        top:20px;
        font-size:20px;
        font-weight: bold;
        color:#db154a;
        text-transform: uppercase;
    }
    .NFT-Button-container > .Link {
        color:#fff;

    }
}

/** Media Query Galaxy Fold (280) */
@media screen and (max-width:375px) {
    .Story-container {
        width:100%;
        min-height: 920px;
        overflow: hidden;
    }

    .Story-container > .Story-components {
        max-width:375px;
        min-height: 940px;
        margin:auto;
    }

    .Story-container > .Story-components > div:nth-child(1) {
        margin-top:49px;
        font-size: 20px;
    }

    .Story-container > .Story-components > div:nth-child(1) > h1 {
        color:red;
        margin-top:10px;
        margin-bottom: 20px;
        margin-left: 24px;

    }
    .Story-container > .Story-components > div:nth-child(1) > p {
        font:  bold 15px/38px arial;
        margin-left: 24px;
        font-family: -apple-system;
        margin-bottom:52px;
    }

    .Story-container > .Story-components > div:nth-child(1) > div {
        max-width:400px;
        min-height: 200px;
        display:flex;
        margin-left:-50px;
        overflow-x: scroll;
        scroll-behavior: smooth;
        overflow-scrolling: touch;

    }


    .Story-container > .Story-components > div:nth-child(1) > div > a > img{
        max-width:300px;
        height: 200px;
        margin-bottom:20px;
        float:left;
        border:none;
        overflow-x: scroll;
        margin-left: 80px;
        margin-right: 20px;

    }

    .Story-container > .Story-components > div:nth-child(1) > div > a > img:hover {
        transform: scale(1.05);
        transition: 0.5s;
    }
    /* NFT 버튼 */
    .Story-container > .Story-components >  button {
        width:160px;
        height:63px;
        background: linear-gradient(135deg, transparent 15px, #ffffff 0) top left;
        margin:78px 0px 91px 0px;
        border-radius: 34px 34px 34px 34px;
        border: 2px solid #db154a;
        position:relative;
        left:100px;
        top:20px;
        font-size:20px;
        font-weight: bold;
        color:#db154a;
        text-transform: uppercase;
    }
    .NFT-Button-container > .Link {
        color:#fff;

    }
}