.timer {
    color:#ffffff;
    text-align: center;
}

.timer .live {
    font-size: 40pt;
    background: #db154a;
    border-radius: 14px 14px 14px 14px;
    padding: 5px 25px;
    margin-right: 30px;
    vertical-align: bottom;
    line-height: 90px;
    max-width: 170px;
    font-weight: bold;
}

.timer .clock {
    font-size: 70pt;
    font-weight: bold;
    text-shadow: 4px 0 #eb1a53;
    vertical-align: bottom;
    line-height: 100px;
}


/* Media Query LapTop(1440px) */
@media screen and (max-width: 1440px) {
}

/* Media Query LapTop(1024px) */
@media screen and (max-width: 1024px) {
}

/** Media Qurey Medium (992px) */
@media screen and (max-width: 992px) {
    .timer .live {
        font-size: 35pt;
    }

    .timer .clock {
        font-size: 60pt;
    }
}

/** Media Query Tablet (768px) */
@media screen and (max-width: 768px) {
    .timer .live {
        font-size: 40pt;
        max-width: 170px;
        margin: 0 auto 20px;
        display: block;
        line-height: 1;
        padding: 3px 0 10px 0;
    }

    .timer .clock {
        font-size: 72pt;
        line-height: 1;
    }

    .sub-timer .timer .live {
        font-size: 33pt;
        display: inline;
        padding: 0 10px 5px 10px;
        line-height: 70px;
        margin: 0 10px 0 0;
    }

    .sub-timer .timer .clock {
        font-size: 60pt;
        line-height: 1;
    }
}

/** Media Query Tablet (560px) */
@media screen and (max-width: 560px) {
    .timer .live {
        font-size: 22pt;
        max-width: 110px;
        padding: 5px 0 10px 0;
    }

    .timer .clock {
        font-size: 40pt;
    }

    .sub-timer .timer .live {
        font-size: 18pt;
        display: inline;
        padding: 0 10px 5px 10px;
        line-height: 40px;
        margin: 0 10px 0 0;
    }

    .sub-timer .timer .clock {
        font-size: 33pt;
        line-height: 1;
    }
}

/** Media Query Tablet (425px) */
@media screen and (max-width: 425px) {
    .timer .live {
        font-size: 22pt;
        max-width: 110px;
        padding: 5px 0 10px 0;
    }

    .timer .clock {
        font-size: 40pt;
    }

    .sub-timer .timer .live {
        font-size: 18pt;
        display: inline;
        padding: 0 10px 5px 10px;
        line-height: 40px;
        margin: 0 10px 0 0;
    }

    .sub-timer .timer .clock {
        font-size: 33pt;
        line-height: 1;
    }
}

/*  Media Query iPoneX (375 x 812) */
@media screen and (max-width: 375px) {
    .timer .live {
        font-size: 20pt;
        max-width: 83px;
    }

    .timer .clock {
        font-size: 35px;
    }

    .sub-timer .timer .live {
        font-size: 16pt;
        display: inline;
        padding: 0 10px 5px 10px;
        line-height: 35px;
        margin: 0 10px 0 0;
    }

    .sub-timer .timer .clock {
        font-size: 29pt;
        line-height: 1;
    }
}

/** Media Query Galxy Fold(280 x 653) */
@media screen and (max-width: 280px){
    .timer .live {
        font-size: 14pt;
        max-width: 61px;
    }

    .timer .clock {
        font-size: 26px;
    }

    .sub-timer .timer .live {
        font-size: 12pt;
        display: inline;
        padding: 0 10px 5px 10px;
        line-height: 35px;
        margin: 0 10px 0 0;
    }

    .sub-timer .timer .clock {
        font-size: 22pt;
        line-height: 1;
    }
}
