.Story-container {
    width:100%;
    min-height: 1409px;
    background:#fff;
    margin-top:-500px;
    z-index:-999;
    display:block;
    border:1px solid white;
}
.Story-container > .Story-components {
    max-width:1345px;
    min-height: 1324px;
    margin:auto;

}
.Story-container > .Story-components > div:nth-child(1) {
    margin-top:225px;
    font-size: 32px;
}
.Story-container > .Story-components > div:nth-child(1) > h1 {
    margin-bottom: 20px;
    margin-left:72px;
    text-align: center;
    text-transform: uppercase;
    color:#eb1a53;
    text-shadow: 5px -5px #93f7f3;

}
.Story-container > .Story-components > div:nth-child(1) > h1:before {
    color:red;
}
.Story-container > .Story-components > div:nth-child(1) > h1:after {
    content:"";
    color:#eb1a53;
    position: absolute;
    top: 0px;
    left: 10px;
    right: 0px;
    bottom: 0px;
    width:100%;
}
.Story-container > .Story-components > div:nth-child(1) > p {
    margin-bottom:24px;
    font:  bold 18px/34px arial;
    font-family: -apple-system;
    margin-bottom:52px;
    text-align: center;
    margin-left:72px;
}
.Story-container > .Story-components > div:nth-child(1) > div {
    width:100%;
    min-height: 400px;
    display:block;
    max-width:1223px;

}
.Story-container > .Story-components > div:nth-child(1) > div > a > img {
    width:320px;
    min-height:341px;
    float:left;
    display:grid;
    grid-template-columns: 150px 150px 150px;
    margin-left:50px;
    margin-right: -20px;
    margin-bottom:20px;
    position:relative;
    left:20px;
}
.Story-container > .Story-components > div:nth-child(1) > div > a > img:hover {
    transform: scale(1.05);
    transition: 0.5s;
}
.Story-container > .Story-components > div >  button  {
    width:340px;
    height:63px;
    margin-bottom:44px;
    border-radius: 34px 34px 34px 34px;
    border: 2px solid #db154a;
    position:relative;
    background:red;
    color:#ffffff;
    left:450px;
    font-size:30px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1;
}

.Story-container > .Story-components > div > button:first-child > a {
    color:#ffffff;
}


    /* NFT 버튼 */
.Story-container > .Story-components >  div > button:last-child  {
    width:271px;
    height:63px;
    background: #ffffff;
    margin:78px 0px 91px 0px;
    border-radius: 34px 34px 34px 34px;
    position:relative;
    left:450px;
    top:0px;
    font-size:30px;
    font-weight: bold;
    text-transform: uppercase;
}

.Story-container > .Story-components >  div > button:last-child:hover {
    color:#ffffff;
    background: red;
    transition: 1.5s;
}
.Story-container > .Story-components >  div > button:last-child > a {
    color:red;
}
.Story-container > .Story-components >  div > button:last-child:hover > a {
   color:#ffffff;
}


/** Media Query LatTop L(1440px) */
@media screen and (max-width: 1440px) {
    .Story-container {
        width:100%;
        min-height: 1209px;
        overflow: hidden;
    }

    .Story-container > .Story-components {
        max-width:1200px;
        min-height: 924px;
        margin:auto;
    }

    .Story-container > .Story-components > div:nth-child(1) {
        margin-top:10px;
        font-size: 30px;
        padding-top:100px;
    }

    .Story-container > .Story-components > div:nth-child(1) > h1 {
        color:red;
        margin-top:10px;
        margin-bottom: 20px;
        margin-left: 120px;

    }
    .Story-container > .Story-components > div:nth-child(1) > p {
        margin-bottom:24px;
        font:  bold 18px/34px arial;
        margin-left:120px;
        font-family: -apple-system;
        margin-bottom:52px;
    }

    .Story-container > .Story-components > div:nth-child(1) > div {
        width:100%;
        display:block;
        max-width:1223px;
    }


    .Story-container > .Story-components > div:nth-child(1) > div > a > img{
        max-width:900px;
        height: 250px;
        border:1px solid red;
        grid-template-columns: 150px 150px 150px;
        margin-left:50px;
        margin-right: -20px;
        margin-bottom:20px;
        position:relative;
        left:60px;

    }

    .Story-container > .Story-components > div:nth-child(1) > div > a > img:hover {
        transform: scale(1.05);
        transition: 0.5s;
    }
    /* NFT 버튼 */
    .Story-container > .Story-components >  button {
        width:271px;
        height:63px;
        background: linear-gradient(135deg, transparent 15px, #ffffff 0) top left;
        margin:78px 0px 91px 0px;
        border-radius: 34px 34px 34px 34px;
        border: 2px solid #db154a;
        position:relative;
        left:480px;
        top:20px;
        font-size:30px;
        font-weight: bold;
        color:#db154a;
        text-transform: uppercase;
    }
    .NFT-Button-container > .Link {
        color:#fff;

    }

}

/** Media Query LatTop (1024px) */
@media screen and (max-width: 1024px) {
    .Story-container {
        width:100%;
        min-height: 540px;

    }
    .Story-container > .Story-components {
        max-width:1200px;
        min-height: 1200px;
        margin:auto;
    }
    .Story-container > .Story-components > div:nth-child(1) {
        margin-top:13px;
        font-size: 28px;
        padding-top:50px;
    }
    .Story-container > .Story-components > div:nth-child(1) > h1 {
        margin-top:100px;
        margin-bottom: 20px;
        margin-left: 100px;
    }
    .Story-container > .Story-components > div:nth-child(1) > p {
        font:  bold 18px/34px arial;
        margin-left:100px;
        font-family: -apple-system;
        margin-bottom:52px;
    }
    .Story-components > .Story-components > .form > span {
        width:100%;
        display:block;
        max-width:1223px;
    }
    .Story-container > .Story-components > div:nth-child(1) > div {
        width:100%;
        min-height: 400px;
        display:block;
        margin:auto;
    }

    .Story-container > .Image-Small-Form {
        width:320px;
        float:left;
        margin-left: 0px;
        margin-right: 0px;
        position:relative;
        left:-0px;
    }
    .Story-container > .Story-components > div:nth-child(1) > div > a > img {
        width:250px;
        min-height:300px;
        float:left;
        margin-right: -20px;
        position:relative;

    }

    .Story-container > .Story-components >  button {
        width:271px;
        height:63px;
        background: linear-gradient(135deg, transparent 15px, #ffffff 0) top left;
        margin:58px 0px 91px 0px;
        border-radius: 34px 34px 34px 34px;
        border: 2px solid #db154a;
        position:relative;
        left:380px;
        top:0px;
        font-size:30px;
        font-weight: bold;
        color:#db154a;
        text-transform: uppercase;
    }

    /* NFT 버튼 */

    .NFT-Button-container > .Link {
        color:#fff;
    }
}

/** Media Query Tablet (768px) */
@media screen and (max-width: 768px) {
    .Story-container {
        width:100%;
        min-height: 1422px;
        overflow: hidden;

    }

    .Story-container > .Story-components {
        max-width:748px;
        min-height: 924px;
    }

    .Story-container > .Story-components > div:nth-child(1) {
        margin-top:165px;
        font-size: 30px;
    }

    .Story-container > .Story-components > div:nth-child(1) > h1 {
        color:red;
        margin-top:10px;
        margin-bottom: 20px;
        margin-left: 45px;

    }
    .Story-container > .Story-components > div:nth-child(1) > p {
        margin-bottom:24px;
        font:  bold 18px/34px arial;
        margin-left: 45px;
        font-family: -apple-system;
        margin-bottom:52px;
    }

    .Story-container > .Story-components > div:nth-child(1) > div {

        display:flex;
        max-width:700px;
        overflow-x: scroll;
        scroll-behavior: smooth;
        overflow-scrolling: touch;
        margin:0px 80px 0px 0px ;
        position:relative;
        left:50px;
    }


    .Story-container > .Story-components > div:nth-child(1) > div > a > img{
        max-width:700px;
        height: 563px;
        width:580px;
        margin-bottom:20px;
        float:left;
        border:none;
        overflow-x: scroll;
        position:relative;
        left:-50px;
    }

    .Story-container > .Story-components > div:nth-child(1) > div > a > img:hover {
        transform: scale(1.05);
        transition: 0.5s;
    }
    /* NFT 버튼 */
    .Story-container > .Story-components >  button {
        width:271px;
        height:63px;
        background: linear-gradient(135deg, transparent 15px, #ffffff 0) top left;
        margin:78px 0px 91px 0px;
        border-radius: 34px 34px 34px 34px;
        border: 2px solid #db154a;
        position:relative;
        left:250px;
        top:20px;
        font-size:30px;
        font-weight: bold;
        color:#db154a;
        text-transform: uppercase;
    }
    .NFT-Button-container > .Link {
        color:#fff;

    }

}


/** Media Query MoblieL (425px) */
@media screen and (max-width: 425px) {
    .Story-container {
        width:100%;
        min-height: 1000px;
        overflow: hidden;
    }

    .Story-container > .Story-components {
        max-width:375px;
        min-height: 1240px;
        margin:auto;
    }

    .Story-container > .Story-components > div:nth-child(1) {
        margin-top:199px;
        font-size: 20px;
    }

    .Story-container > .Story-components > div:nth-child(1) > h1 {
        color:red;
        margin-top:10px;
        margin-bottom: 20px;
        margin-left: 14px;

    }
    .Story-container > .Story-components > div:nth-child(1) > p {

        font:  bold 18px/34px arial;
        margin-left: 14px;
        font-family: -apple-system;
        margin-bottom:52px;
    }

    .Story-container > .Story-components > div:nth-child(1) > div {
        width:600px;
        display:flex;
        margin-left:-50px;
        overflow-x: scroll;
        scroll-behavior: smooth;
        overflow-scrolling: touch;

    }


    .Story-container > .Story-components > div:nth-child(1) > div > a > img{
        max-width:480px;
        height: 480px;
        margin-bottom:20px;
        float:left;
        border:none;
        overflow-x: scroll;

        margin-left: -20px;
        margin-right: 80px;

    }

    .Story-container > .Story-components > div:nth-child(1) > div > a > img:hover {
        transform: scale(1.05);
        transition: 0.5s;
    }
    /* NFT 버튼 */
    .Story-container > .Story-components >  button {
        width:250px;
        height:63px;
        background: linear-gradient(135deg, transparent 15px, #ffffff 0) top left;
        margin:78px 0px 91px 0px;
        border-radius: 34px 34px 34px 34px;
        border: 2px solid #db154a;
        position:relative;
        left:90px;
        top:20px;
        font-size:30px;
        font-weight: bold;
        color:#db154a;
        text-transform: uppercase;
    }
    .NFT-Button-container > .Link {
        color:#fff;

    }
}



/** Media Query Iphone X (375px) */
@media screen and (max-width:375px) {
    .Story-container {
        width:100%;
        min-height: 920px;
        overflow: hidden;
    }

    .Story-container > .Story-components {
        max-width:375px;
        min-height: 940px;
        margin:auto;
    }

    .Story-container > .Story-components > div:nth-child(1) {
        margin-top:49px;
        font-size: 20px;
    }

    .Story-container > .Story-components > div:nth-child(1) > h1 {
        color:red;
        margin-top:10px;
        margin-bottom: 20px;
        margin-left: 24px;

    }
    .Story-container > .Story-components > div:nth-child(1) > p {
        font:  bold 15px/38px arial;
        margin-left: 24px;
        font-family: -apple-system;
        margin-bottom:52px;
    }

    .Story-container > .Story-components > div:nth-child(1) > div {
        max-width:400px;
        min-height: 200px;
        display:flex;
        margin-left:-50px;
        overflow-x: scroll;
        scroll-behavior: smooth;
        overflow-scrolling: touch;

    }


    .Story-container > .Story-components > div:nth-child(1) > div > a > img{
        max-width:300px;
        height: 200px;
        margin-bottom:20px;
        float:left;
        border:none;
        overflow-x: scroll;
        margin-left: 80px;
        margin-right: 20px;

    }

    .Story-container > .Story-components > div:nth-child(1) > div > a > img:hover {
        transform: scale(1.05);
        transition: 0.5s;
    }
    /* NFT 버튼 */
    .Story-container > .Story-components >  button {
        width:160px;
        height:63px;
        background: linear-gradient(135deg, transparent 15px, #ffffff 0) top left;
        margin:78px 0px 91px 0px;
        border-radius: 34px 34px 34px 34px;
        border: 2px solid #db154a;
        position:relative;
        left:100px;
        top:20px;
        font-size:20px;
        font-weight: bold;
        color:#db154a;
        text-transform: uppercase;
    }
    .NFT-Button-container > .Link {
        color:#fff;

    }
}

/** Media Query Galaxy Fold (280) */
@media screen and (max-width:375px) {
    .Story-container {
        width:100%;
        min-height: 920px;
        overflow: hidden;
    }

    .Story-container > .Story-components {
        max-width:375px;
        min-height: 940px;
        margin:auto;
    }

    .Story-container > .Story-components > div:nth-child(1) {
        margin-top:49px;
        font-size: 20px;
    }

    .Story-container > .Story-components > div:nth-child(1) > h1 {
        color:red;
        margin-top:10px;
        margin-bottom: 20px;
        margin-left: 24px;

    }
    .Story-container > .Story-components > div:nth-child(1) > p {
        font:  bold 15px/38px arial;
        margin-left: 24px;
        font-family: -apple-system;
        margin-bottom:52px;
    }

    .Story-container > .Story-components > div:nth-child(1) > div {
        max-width:400px;
        min-height: 200px;
        display:flex;
        margin-left:-50px;
        overflow-x: scroll;
        scroll-behavior: smooth;
        overflow-scrolling: touch;

    }


    .Story-container > .Story-components > div:nth-child(1) > div > a > img{
        max-width:300px;
        height: 200px;
        margin-bottom:20px;
        float:left;
        border:none;
        overflow-x: scroll;
        margin-left: 80px;
        margin-right: 20px;

    }

    .Story-container > .Story-components > div:nth-child(1) > div > a > img:hover {
        transform: scale(1.05);
        transition: 0.5s;
    }
    /* NFT 버튼 */
    .Story-container > .Story-components >  button {
        width:160px;
        height:63px;
        background: linear-gradient(135deg, transparent 15px, #ffffff 0) top left;
        margin:78px 0px 91px 0px;
        border-radius: 34px 34px 34px 34px;
        border: 2px solid #db154a;
        position:relative;
        left:100px;
        top:20px;
        font-size:20px;
        font-weight: bold;
        color:#db154a;
        text-transform: uppercase;
    }
    .NFT-Button-container > .Link {
        color:#fff;

    }
}