.Story-container {
    width:100%;
    min-height: 1409px;
    background:#fff;
    margin-top:-500px;
    z-index:-999;
    display:block;
    border:1px solid white;
}

.Story-container > .Story-components {
    max-width:1345px;
    min-height: 1124px;
    margin:auto;

}

.Story-container > .Story-components > div:nth-child(1) {
    margin-top:225px;
    font-size: 32px;
}



.Story-container > .Story-components > div:nth-child(1) > h1 {
    margin-bottom: 20px;
    margin-left:40px;
    text-transform: uppercase;
    color:#eb1a53;
    text-shadow: 5px -5px #93f7f3;

}
.Story-container > .Story-components > div:nth-child(1) > h1:before {
    color:red;
}
.Story-container > .Story-components > div:nth-child(1) > h1:after {
    content:"";
    color:#eb1a53;
    position: absolute;
    top: 0px;
    left: 10px;
    right: 0px;
    bottom: 0px;
    width:100%;
}

.Story-container > .Story-components > div:nth-child(1) > p {
    margin-bottom:24px;
    font:  bold 18px/34px arial;
    font-family: -apple-system;
    margin-bottom:52px;
    margin-left:50px;
}


.Story-container > .Story-components > div:nth-child(1) > div {
    width:100%;
    min-height: 400px;
    display:block;
    max-width:1223px;

}

.Story-container > .Story-components > div:nth-child(1) > div > a > img {
    width:320px;
    min-height:341px;
    float:left;
    display:grid;
    grid-template-columns: 150px 150px 150px;
    margin-left:50px;
    margin-right: -20px;
    margin-bottom:20px;
    position:relative;
    left:-0px;
}



/* NFT 버튼 */
.Story-container > .Story-components >  button {
    width:271px;
    height:63px;
    background:#db154a;
    background: linear-gradient(135deg, transparent 15px, #db154a 0) top left;
    margin:78px 0px 91px 0px;
    border: none;
    position:relative;
    left:-600px;
    top:350px;
    font-size:30px;
    font-weight: bold;
    color:#fff;
    text-transform: uppercase;


}
.NFT-Button-container > .Link {
    color:#fff;

}

/** Media Query LatTop L(1440px) */
@media screen and (max-width: 1440px) {
    .Story-container {
        width:100%;
        min-height: 1409px;
    }

    .Story-container > .Story-components {
        max-width:1200px;
        min-height: 1124px;
        margin:auto;
    }

    .Story-container > .Story-components > .form {
        margin-top:50px;
        font-size: 32px;
        padding-top:150px;
    }

    .Story-container > .Story-components > .form > h1 {
        color:red;
        margin-top:100px;
        margin-bottom: 20px;
        margin-left: 100px;
    }
    .Story-container > .Story-components > .form > p {
        margin-bottom:24px;
        font:  bold 18px/34px arial;
        margin-left:100px;
        font-family: -apple-system;
        margin-bottom:52px;
    }

    .Story-components > .Story-components > .form > span {
        width:100%;
        display:block;
        max-width:1223px;
    }


    .Story-components > .Image-Container {
        width:100%;
        min-height: 400px;
        display:block;

        margin:auto;


    }
    .Story-components > .Image-Form {
        max-width:900px;
        height: 400px;
        border:1px solid red;

    }
    .Story-components > .Image-Small-Form {
        max-width:150px;
        min-height:325px;
        float:left;
        margin-left: 150px;
        margin-right: 50px;
        position:relative;
        left:-50px;
    }

    .Story-components > .Image-Small-Form:hover {
        background:red;
    }

    .Story-components > .Story-components > .More-Button {
        text-transform: uppercase;
        float:right;
        width:131px;
        height:133px;
        position: relative;
        bottom:102px;
        text-align:center;
        color:#787878;
        line-height: 120px;
    }

    /* NFT 버튼 */
    .NFT-Button-container {
        width:268px;
        height:90px;
        background:#db154a;
        margin:60px -150px auto;
        border: none;
        position:relative;
        left:-500px;
        top:300px;
        font-size:30px;
        color:#fff;

    }
    .NFT-Button-container > .Link {
        color:#fff;
    }
}

/** Media Query LatTop (1024px) */
@media screen and (max-width: 1024px) {
    .Story-container {
        width:100%;
        min-height: 540px;

    }
    .Story-container > .Story-components {
        max-width:1200px;
        min-height: 1344px;
        margin:auto;
    }
    .Story-container > .Story-components > .form {
        margin-top:13px;
        font-size: 28px;
        padding-top:129px;
    }
    .Story-container > .Story-components > .form > h1 {
        margin-top:100px;
        margin-bottom: 20px;
        margin-left: 80px;
    }
    .Story-container > .Story-components > .form > p {
        font:  bold 18px/34px arial;
        margin-left:80px;
        font-family: -apple-system;
        margin-bottom:52px;
    }
    .Story-components > .Story-components > .form > span {
        width:100%;
        display:block;
        max-width:1223px;
    }
    .Story-components > .Image-Container {
        width:100%;
        min-height: 400px;
        display:block;
        margin:auto;
    }

    .Story-components > .Image-Small-Form {
        width:320px;
        float:left;
        margin-left: 100px;
        margin-right: 20px;
        position:relative;
        left:-0px;
    }
    .Story-components > .Image-Small-Form > img {
        width:250px;
        float:left;
        margin-right: 20px;
        position:relative;

    }

    .Story-components > .Story-components > .More-Button {
        text-transform: uppercase;
        float:right;
        width:131px;
        height:133px;
        position: relative;
        bottom:0px;
        top:50px;
        left:200px;
        text-align:center;
        color:#787878;
        line-height: 120px;
    }

    /* NFT 버튼 */
    .NFT-Button-container {
        width:268px;
        height:90px;
        background:#db154a;
        margin:10px -150px auto;
        border: none;
        position:relative;
        left:-300px;
        top:300px;
        font-size:30px;
        color:#fff;

    }
    .NFT-Button-container > .Link {
        color:#fff;
    }
}

/** Media Query Tablet (768px) */
@media screen and (max-width: 768px) {
    .Story-container {
        width:100%;
        min-height: 640px;

    }
    .Story-container > .Story-components {
        max-width:1200px;
        min-height: 1544px;
        margin:auto;
    }
    .Story-container > .Story-components > .form {
        margin-top:13px;
        font-size: 28px;
        padding-top:20px;
    }
    .Story-container > .Story-components > .form > h1 {
        margin-top:100px;
        margin-bottom: 20px;
        margin-left: 50px;
    }
    .Story-container > .Story-components > .form > p {
        font:  bold 18px/34px arial;
        margin-left:50px;
        font-family: -apple-system;
        margin-bottom:52px;
    }
    .Story-components > .Story-components > .form > span {
        width:100%;
        display:block;
        max-width:1223px;
    }
    .Story-components > .Image-Container {
        width:100%;
        min-height: 300px;
        display:block;
        max-width:960px;
        margin:20px auto;

    }
    .Story-components > .Image-Form {
        max-width:360px;
        height: 450px;
        background: #d4d4d4;

    }
    .Story-components > .Image-Small-Form {
        width:320px;
        float:left;
        margin-left: 100px;
        margin-right: 20px;
        position:relative;
        left:-0px;
    }
    .Story-components > .Image-Small-Form > img {
        width:250px;
        float:left;
        margin-right: 20px;
        position:relative;

    }

    .Story-components > .Story-components > .More-Button {
        text-transform: uppercase;
        float:right;
        width:131px;
        height:133px;
        position: relative;
        bottom:0px;
        top:50px;
        left:200px;
        text-align:center;
        color:#787878;
        line-height: 120px;
    }

    /* NFT 버튼 */
    .NFT-Button-container {
        width:268px;
        height:90px;
        background:#db154a;
        margin:10px -150px auto;
        border: none;
        position:relative;
        left:-150px;
        top:650px;
        font-size:30px;
        color:#fff;
    }
    .NFT-Button-container > .Link {
        color:#fff;
    }
}


/** Media Query MoblieL (425px) */
@media screen and (max-width: 425px) {
    .Story-container {
        width:100%;
        min-height: 540px;

    }
    .Story-container > .Story-components {
        max-width:960px;
        min-height: 1124px;
        margin: auto;
    }
    .Story-container > .Story-components > .form {
        margin-top:3px;
        font-size: 28px;
        padding-top:0px;

    }
    .Story-container > .Story-components > .form > h1 {
        margin-top:60px;
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .Story-container > .Story-components > .form > p {
        font:  bold 14px/30px arial;
        margin-left:30px;
        font-family: -apple-system;
        margin-bottom:52px;
    }
    .Story-components > .Story-components > .form > span {
        width:100%;
        display:block;
        max-width:1223px;
    }
    .Story-components > .Image-Container {
        max-width:360px;
        min-height: 200px;
        display:block;
        margin:10px auto;

    }
    .Story-components > .Image-Form {
        max-width:50px;
        height: 440px;
        background: #d4d4d4;

    }
    .Story-components > .Image-Small-Form {
        width:100px;
        min-height:50px;
        float:left;
        margin-left:50px;
        margin-right: 0px;
        margin-bottom:20px;
        position:relative;
        left:-50px;

    }

    /* NFT 버튼 */
    .NFT-Button-container {
        width:200px;
        height:70px;
        background:#db154a;
        margin:50px -150px auto;
        border: none;
        position:relative;
        left:-50px;
        top:450px;
        font-size:30px;
        color:#fff;

    }
    .NFT-Button-container > .Link {
        color:#fff;
    }
}



/** Media Query Iphone X (375px) */
@media screen and (max-width:375px) {
    .Story-container {
        width:100%;
        min-height: 540px;

    }
    .Story-container > .Story-components {
        max-width:960px;
        min-height: 1124px;
        margin: auto;
    }
    .Story-container > .Story-components > .form {
        margin-top:3px;
        font-size: 28px;
        padding-top:0px;

    }
    .Story-container > .Story-components > .form > h1 {
        margin-top:60px;
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .Story-container > .Story-components > .form > p {
        font:  bold 14px/30px arial;
        margin-left:30px;
        font-family: -apple-system;
        margin-bottom:52px;
    }
    .Story-components > .Story-components > .form > span {
        width:100%;
        display:block;
        max-width:1223px;
    }
    .Story-components > .Image-Container {
        width:100%;
        min-height: 250px;
        display:block;
        max-width:960px;
        margin:10px auto;

    }
    .Story-components > .Image-Form {
        max-width:180px;
        height: 450px;
        background: #d4d4d4;

    }
    .Story-components > .Image-Small-Form {
        width:160px;
        min-height:200px;
        background: #d4d4d4;
        float:left;
        margin-left:10px;
        margin-right: 0px;
        margin-bottom:20px;
        position:relative;
        left:10px;

    }

    .Story-components > .Story-components > .More-Button {
        text-transform: uppercase;
        float:right;
        width:100px;
        height:133px;
        position: relative;
        bottom:0px;
        left:20px;
        text-align:center;
        color:#787878;
        line-height: 120px;
    }

    /* NFT 버튼 */
    .NFT-Button-container {
        width:200px;
        height:70px;
        background:#db154a;
        margin:50px -150px auto;
        border: none;
        position:relative;
        left:-100px;
        top:350px;
        font-size:30px;
        color:#fff;

    }
    .NFT-Button-container > .Link {
        color:#fff;
    }
}