/* Header Conatiner 배경 */
.Header-container {
    width: 100%;
    min-height: 111px;
    z-index: 99999;
    position: absolute;
}

.Header-container > div {
    max-width: 1120px;
    width:100%;
    margin: auto;
    background: transparent;
    line-height: 32px;
    color: #fff;
    z-index: 999;
}

.Header-container > div > a {
    margin: 40px 40px 0px 0px;
    font-size: 27px;
    position: relative;
    color:#ffffff;
    line-height: 38px;
    font-weight: 600;
    float: left;
    z-index: 1;
}
.Header-container > div > a > .icon {
    margin-left: 10px;
    padding-right: 10px;
    font-size:30px;
}

.Header-container > div > a:nth-child(3) {
    float: right;
    width: 187px;
    height: 50px;
    margin: 30px 0px 20px 0px;
    font-size: 22px;
    line-height: 50px;
    color: #fff;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    background: #eb1a53;
    border-radius: 24px 24px 24px 24px;
    z-index: 1;


}

.Header-container > div > a:nth-child(3) > span {
    width: 32px;
    height: 23px;
    margin-right: 30px;
    margin-left: -20px;
    position: relative;
    left:20px;
    top: 3px;
    z-index: 1;

}

/* Media Query LapTop(1440px) */
@media screen and (max-width: 1440px) {
    .Header-container {
        width: 100%;
        min-height: 111px;
        background: #000000;
    }

    .Header-container > div {
        max-width: 1000px;
        margin: auto;
        line-height: 32px;
        color: #fff;
    }

    .Header-container > div > a {
        color: #fff;
        margin: 40px 40px 0px 0px;
        font-size: 26px;
        position: relative;
        float: left;

    }


    .Header-container > div > a:nth-child(3) {
        float: right;
        width: 187px;
        height: 50px;
        margin: 30px 0px 10px 0px;
        font-size: 22px;
        line-height: 50px;
        color: #fff;
        font-weight: bold;
        font-style: normal;
        text-align: center;
        background: #eb1a53;
        border-radius: 24px 24px 24px 24px;
    }

    .Header-Body > span {
        width: 30px;
        height: 23px;
        margin-right: 30px;
        margin-left: -40px;
        position: relative;
        left: 20px;
        top: 2px;
    }
}


/* Media Query LapTop(1024px) */
@media screen and (max-width: 1024px) {
    /* Header Conatiner 배경 */
    .Header-container {
        width: 100%;
        min-height: 111px;
        background: #000000;
        margin-top: -20px;
    }

    .Header-container > div {
        max-width: 900px;
        margin: 14px auto;
        line-height: 32px;
        color: #fff;
    }

    .Header-container > div > a {
        color: #fff;
        margin: 40px 50px 0px 0px;
        font-size: 18px;
        position: relative;
        left: 10px;
        float: left;

    }

    .Header-container > div > a:nth-child(3) {
        float: right;
        width: 187px;
        height: 50px;
        margin: 30px 0px 10px 0px;
        font-size: 22px;
        line-height: 50px;
        color: #fff;
        font-weight: bold;
        font-style: normal;
        text-align: center;
        background: #eb1a53;
        border-radius: 24px 24px 24px 24px;
    }

    .Header-Body > span {
        width: 30px;
        height: 23px;
        margin-right: 30px;
        margin-left: -40px;
        position: relative;
        left: 20px;
        top: 2px;
    }
}

/** Media Qurey Medium (992px) */
@media screen and (max-width: 992px) {
    /* Header Conatiner 배경 */
    .Header-container {
        width: 100%;
        min-height: 111px;
        background: #000000;

    }

    .Header-container > div {
        max-width: 892px;
        margin: 14px auto;
        line-height: 32px;
        color: #fff;
    }

    .Header-container > div > a {
        color: #fff;
        margin: 40px 40px 0px 0px;
        font-size: 28px;
        position: relative;
        float: left;

    }

    .Header-container > div > a:nth-child(3) {
        float: right;
        width: 187px;
        height: 50px;
        margin: 30px 0px 10px 0px;
        font-size: 22px;
        line-height: 50px;
        color: #fff;
        font-weight: bold;
        font-style: normal;
        text-align: center;
        background: #eb1a53;
        border-radius: 24px 24px 24px 24px;
    }

    .Header-Body > span {
        width: 30px;
        height: 23px;
        margin-right: 30px;
        margin-left: 20px;
        position: relative;
        left: 20px;
        top: 2px;
    }
}

/** Media Query Tablet (768px) */
@media screen and (max-width: 768px) {
    .Header-container {
        width: 100%;
        min-height: 61px;
        background: #000000;

    }

    .Header-container > div  {
        max-width: 680px;
        margin: 14px auto;
        line-height: 32px;
        color: #fff;
    }

    .Header-container > div > a {
        color: #fff;
        margin: 40px 40px 0px 0px;
        font-size: 20px;
        position: relative;
        float: left;

    }

    .Header-container > div > a:nth-child(3) {
        float: right;
        width: 187px;
        height: 50px;
        margin: 30px 0px 10px 0px;
        font-size: 22px;
        line-height: 50px;
        color: #fff;
        font-weight: bold;
        font-style: normal;
        text-align: center;
        background: #eb1a53;
        border-radius: 24px 24px 24px 24px;
    }

    .Header-Body > span {
        width: 30px;
        height: 23px;
        margin-right: 30px;
        margin-left: -40px;
        position: relative;
        left: 20px;
        top: 2px;
    }
}

/** Media Query Tablet (425px) */
@media screen and (max-width: 425px) {
    .Header-container {
        width: 100%;
        min-height: 61px;
        background: #000000;

    }

    .Header-container > div  {
        max-width: 375px;
        margin: 14px auto;
        line-height: 32px;
        color: #fff;
    }

    .Header-container > div > a {
        color: #fff;
        margin: 40px 10px 0px 0px;
        font-size: 12px;
        position: relative;
        float: left;

    }

    .Header-container > div > a:nth-child(3) {
        float: right;
        width: 100px;
        height: 40px;
        margin: 40px 0px 10px 0px;
        font-size: 12px;
        line-height: 40px;
        color: #fff;
        font-weight: bold;
        font-style: normal;
        text-align: center;
        background: #eb1a53;
        border-radius: 24px 24px 24px 24px;
    }
    .Header-container > div > a:nth-child(3) > span {
        width: 24px;
        height: 23px;
        margin-right: 30px;
        margin-left: -20px;
        position: relative;
        left:20px;
        top: 3px;
        z-index: 1;
    }

    .Header-container > div > a > .icon {
        margin-left: 5px;
        padding-right: 10px;
        font-size:20px;
        line-height: 30px;
    }

}

/*  Media Query iPoneX (375 x 812) */
@media screen and (max-width: 375px) {
    .Header-container {
        width: 100%;
        min-height: 61px;
        background: #000000;

    }

    .Header-container > div  {
        max-width: 350px;
        margin: 14px auto;
        line-height: 32px;
        color: #fff;
    }

    .Header-container > div > a {
        color: #fff;
        margin: 40px 10px 0px 0px;
        font-size: 12px;
        position: relative;
        float: left;
        left:20px;

    }

    .Header-container > div > a:nth-child(3) {
        float: right;
        width: 80px;
        height: 50px;
        margin: 30px 30px 10px 0px;
        font-size: 10px;
        line-height: 40px;
        color: #fff;
        font-weight: bold;
        font-style: normal;
        text-align: center;
        background: #eb1a53;
        border-radius: 24px 28px 24px 24px;
    }
    .Header-container > div > a > .icon {
        margin-left: 10px;
        padding-right: 10px;
        font-size:20px;
    }
    .Header-Body > span {
        width: 18px;
        height: 18px;
        margin-right: 30px;
        margin-left: -20px;
        position: relative;
        left: 20px;
        top: 2px;
    }
}

/** Media Query Galxy Fold(280 x 653) */
 @media screen and (max-width: 280px){
    .Header-container {
        width: 100%;
        min-height: 41px;
        background: #000000;
    }

    .Header-container > div  {
        max-width: 260px;
        margin: 14px auto;
        line-height: 32px;
        color: #fff;
    }

    .Header-container > div > a {
        color: #fff;
        margin: 40px 7px 0px 0px;
        font-size: 14px;
        position: relative;
        font-weight: bold;
        float: left;
        left:2px;

    }

    .Header-container > div > a:nth-child(3) {
        float: right;
        width: 80px;
        height: 40px;
        margin: 40px 10px 10px 0px;
        font-size: 10px;
        line-height: 40px;
        color: #fff;
        font-weight: bold;
        font-style: normal;
        text-align: center;
        background: #eb1a53;
        border-radius: 24px 20px 24px 24px;
    }

    .Header-Body > span {
        width: 10px;
        display: none;
        height: 10px;
        margin-right: 10px;
        margin-left: 10px;
        position: relative;
        left: 50px;
        top: 30px;
    }
}

