/* Header Conatiner 배경 */
.Header-container {
    width: 100%;
    min-height: 111px;
    position: absolute;
    z-index: 99999;
    margin-top: 30px;
}

.Header-container .Header {
    max-width: 1120px;
    width:100%;
    margin: auto;
}

.Header-container .Header .logo {
    max-width: 352px;
    max-height: 39px;
}

.Header-container .wallet-btn {
    float: right;
    width: 187px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background: #eb1a53;
    border-radius: 24px 24px 24px 24px;
    padding: 13px 0 13px 0;
}

.Header-container .wallet-btn img {
    vertical-align: middle;
    margin-right: 10px;
}

/* Media Query LapTop(1440px) */
@media screen and (max-width: 1440px) {
}

/* Media Query LapTop(1024px) */
@media screen and (max-width: 1024px) {
    .Header-container .Header .logo {
        margin-left: 20px;
    }

    .Header-container .wallet-btn {
        margin-right: 20px;
    }
}

/** Media Qurey Medium (992px) */
@media screen and (max-width: 992px) {
    .Header-container {
        margin-top: 0;
    }

    .Header-container .Header .logo {
        max-width: 300px;
        margin: 10px 0 0 10px;
    }

    .Header-container .wallet-btn {
        width: 160px;
        border-radius: 0;
        padding: 12px 0 12px 0;
    }
}

/** Media Query Tablet (768px) */
@media screen and (max-width: 768px) {
    .Header-container {
        margin-top: 0;
    }

    .Header-container .Header .logo {
        max-width: 240px;
        margin: 12px 0 0 10px;
    }

    .Header-container .wallet-btn {
        width: 120px;
        border-radius: 0;
        padding: 12px 0 12px 0;
    }
}

/** Media Query Tablet (425px) */
@media screen and (max-width: 425px) {
    .Header-container {
        margin-top: 0;
    }

    .Header-container .Header .logo {
        max-width: 220px;
        margin: 8px 0 0 10px;
    }

    .Header-container .wallet-btn {
        width: 110px;
        font-size: 13px;
        border-radius: 0;
        padding: 10px 0 10px 0;
    }

    .Header-container .wallet-btn img {
        vertical-align: bottom;
        margin-right: 5px;
        max-width: 20px;
    }
}

/*  Media Query iPoneX (375 x 812) */
@media screen and (max-width: 375px) {
    .Header-container {
        margin-top: 0;
    }

    .Header-container .Header .logo {
        max-width: 190px;
        margin: 8px 0 0 10px;
    }

    .Header-container .wallet-btn {
        width: 110px;
        font-size: 13px;
        border-radius: 0;
        padding: 10px 0 10px 0;
    }

    .Header-container .wallet-btn img {
        vertical-align: bottom;
        margin-right: 5px;
        max-width: 20px;
    }
}

/** Media Query Galxy Fold(280 x 653) */
 @media screen and (max-width: 280px){
     .Header-container {
         margin-top: 0;
     }

     .Header-container .Header .logo {
         max-width: 160px;
         margin: 12px 0 0 10px;

     }

     .Header-container .wallet-btn {
         width: 100px;
         font-size: 12px;
         border-radius: 0;
         padding: 10px 0 10px 0;
     }

     .Header-container .wallet-btn img {
         vertical-align: bottom;
         margin-right: 5px;
         max-width: 20px;
     }
}
