.Footer {
    width: 100%;
    min-height: 209px;
    background:#000000;
    padding-bottom: 90px;
}

.Footer > div {
    max-width:1300px;
    margin:auto;
}

.Footer > div >  a {
    margin-right: 80px;
    color:#ffffff;
    text-transform: uppercase;
    text-align: center;
    font:bold 18px/138px arial;
    position: relative;
    left:35%;

}

.Footer > div > img {
    float:right;
    margin-right:20px;
    margin-top: 73px;
    width:40px;
    height: 40px;
    position:relative;
    top:50px;
    left:-565px;
    background:#d8d8d8;
}

.Footer >  div > button {
    background:#787878;
    position:fixed;
    left:85%;
    bottom:400px;
    z-index:1;
    width:50px;
    float:right;
    justify-self: start;
    height:50px;
    border:0;
    padding:0;
}

/** Media Query LatTop L(1440px) */
@media screen and (max-width: 1440px){
    .Footer {
        width: 100%;
        min-height: 200px;
        background:#000000;

    }

    .Footer-Container {
        max-width:900px;
        margin:auto;
    }

    .Footer-Container > .Link {
        margin-right: 60px;
        color:#ffffff;
        text-transform: uppercase;
        font:bold 18px/138px arial;
    }

    .Footer-Container > .Footer-Image {
        float:right;
        margin-right:28px;
        margin-top: 73px;
        width:40px;
        height: 40px;
        position:relative;
        top:50px;
        left:-300px;
        background:#d8d8d8;
    }
}

/** Media Query Tablet (768px) */
@media screen and (max-width: 768px) {
    .Footer {
        width: 100%;
        min-height: 250px;
        background:#000000;

    }

    .Footer-Container {
        max-width:500px;
        margin:auto;
    }

    .Footer-Container > .Link {
        margin-right: 20px;
        color:#ffffff;
        text-transform: uppercase;
        font:bold 18px/138px arial;
    }

    .Footer-Container > .Footer-Image {
        float:right;
        margin-right:18px;
        margin-top: 73px;
        width:40px;
        height: 40px;
        position:relative;
        top:50px;
        left:-100px;
        background:#d8d8d8;
    }
}

/** Media Query MobileL (425px) */
@media screen and (max-width: 425px) {
    .Footer {
        width: 100%;
        min-height: 280px;
        background:#000000;

    }

    .Footer-Container {
        max-width:420px;
        margin:auto;
    }

    .Footer-Container > .Link {
        margin-right: 10px;
        color:#ffffff;
        text-transform: uppercase;
        font:bold 18px/138px arial;
    }

    .Footer-Container > .Footer-Image {
        float:right;
        margin-right:7px;
        margin-top: 73px;
        width:40px;
        height: 40px;
        position:relative;
        top:50px;
        left:-80px;
        background:#d8d8d8;
    }
}

/** Media Query Iphone X (375px) */
@media screen and (max-width: 375px) {
    .Footer {
        width: 100%;
        min-height: 280px;
        background:#000000;

    }

    .Footer-Container {
        max-width:380px;
        margin:auto;
    }

    .Footer-Container > .Link {
        margin-right: 10px;
        color:#ffffff;
        text-transform: uppercase;
        font:bold 18px/138px arial;
    }

    .Footer-Container > .Footer-Image {
        float:right;
        margin-right:5px;
        margin-top: 73px;
        width:35px;
        height: 40px;
        position:relative;
        top:50px;
        left:-80px;
        background:#d8d8d8;
    }
}