.Footer {
    width: 100%;
    min-height: 151px;
    background:#000000;
    padding-bottom: 0px;

}

.Footer > div {
    max-width:1363px;
    margin:auto;
    text-align: center;
}

.Footer > div:nth-child(1) >  a {
    color:#ffffff;
    text-transform: uppercase;
    text-align: center;
    margin-right: 100px;
    margin-left: -50px;
    font:18px/108px arial;
}
.Footer > div:nth-child(2) >  a {
    color:#ffffff;
    text-transform: uppercase;
    text-align: center;
    margin-right: 20px;
    font:18px/108px arial;
}

.Footer > div:nth-child(2) > a > span {
    width:100px;
    height: 45px;
    /*position:relative;*/
    /*top:-20px;*/
    /*left:-4%;*/
    margin:-40px 50px 20px -50px;
    padding:30px 20px 20px 20px;
    border:none;
    background:#ffffff;
    line-height: 90px;
    border-radius: 100%;
}
.Footer > div:nth-child(2) > a:nth-child(3) > span {
    background: #24a1de;

}
.Footer > div:nth-child(2) > a:nth-child(4) > span {
    background:#6881d8;
}
.Footer > div:nth-child(2) > a:nth-child(5) > span {
    background:#ffc017;
}


/** Media Query LatTop L(1440px) */
@media screen and (max-width: 1440px){
    .Footer {
        width: 100%;
        min-height: 200px;
        background:#000000;

    }

    .Footer > div {
        max-width:1024px;
        margin:auto;
    }

    .Footer > div:nth-child(1) >  a {
        color:#ffffff;
        text-transform: uppercase;
        text-align: center;
        margin-right: 30px;
        margin-left: 30px;
        font:18px/108px arial;
    }
    .Footer > div:nth-child(2) > a  {
        margin:50px -30px 0px 50px;
    }



}
/** Media Query LatTop L(1024) */
@media screen and (max-width: 1024px){
    .Footer {
        width: 100%;
        min-height: 200px;
        background:#000000;

    }

    .Footer > div {
        max-width:1200px;
        margin:auto;
    }

    .Footer > div >  a {

        color:#ffffff;
        text-transform: uppercase;
        font:bold 18px/138px arial;
        margin-left: 80px;
        margin-right: -60px;
    }

    .Footer > div:nth-child(1) >  a {
        color:#ffffff;
        text-transform: uppercase;
        text-align: center;
        margin-right: 30px;
        margin-left: 30px;
        font:18px/108px arial;
    }
    .Footer > div:nth-child(2) > a  {
        margin:50px -30px 0px 50px;
    }


}

/** Media Query Tablet (768px) */
@media screen and (max-width: 768px) {
    .Footer {
        width: 100%;
        min-height: 166px;
        background:#000000;

    }

    .Footer > div {
        max-width:500px;
        margin:auto;
    }

    .Footer > div >  a {

        color:#ffffff;
        text-transform: uppercase;
        font:bold 18px/138px arial;
        margin-left: 80px;
        margin-right: -60px;
    }

    .Footer > div:nth-child(1) >  a {
        color:#ffffff;
        text-transform: uppercase;
        text-align: center;
        margin-right: 30px;
        margin-left: 30px;
        font:18px/108px arial;
    }
    .Footer > div:nth-child(2) > a > span {
        width:100px;
        height: 45px;
        /*position:relative;*/
        /*top:-20px;*/
        /*left:-4%;*/
        margin:-40px 20px 20px -30px;
        padding:30px 20px 20px 20px;
        border:none;
        background:#ffffff;
        line-height: 90px;
        border-radius: 100%;
    }

    .Footer > div:nth-child(2) > a  {
        margin:50px -10px 0px 40px;
    }

}

/** Media Query MobileL (425px) */
@media screen and (max-width: 425px) {
    .Footer {
        width: 100%;
        min-height: 120px;
        background:#000000;

    }

    .Footer > div {
        max-width:400px;
        margin:auto;
    }



    .Footer > div >  a {

        color:#ffffff;
        text-transform: uppercase;
        font:bold 18px/100px arial;
        margin-left: 80px;
        margin-right: -60px;
    }

    .Footer > div:nth-child(1) >  a {
        color:#ffffff;
        text-transform: uppercase;
        text-align: center;
        margin-right: 30px;
        margin-left: 30px;
        font:16px/80px arial;
    }
    .Footer > div:nth-child(2) > a  {
        margin:50px -20px 0px 40px;
    }


}

/** Media Query Iphone X (375px) */
@media screen and (max-width: 375px) {
    .Footer {
        width: 100%;
        max-height: 230px;
        background:#000000;

    }

    .Footer > div {
        max-width:330px;
        margin:auto;
    }


    .Footer > div >  a {

        color:#ffffff;
        text-transform: uppercase;
        font:bold 18px/138px arial;
        margin-left: 80px;
        margin-right: -60px;
    }
    .Footer > div:nth-child(1) >  a {
        color:#ffffff;
        text-transform: uppercase;
        text-align: center;
        margin-right: 20px;
        margin-left: 30px;
        font:16px/108px arial;
    }
    .Footer > div:nth-child(2) > a  {
        margin:10px 0px 0px 30px;
    }
    .Footer > div:nth-child(2) > a > span {
        margin:-200px 10px 20px -30px;
        padding:30px 20px 20px 20px;
    }


}