@media screen and (min-width: 279px) {
    .submit-area {
        width: 100%;
        margin: 3% auto 50px auto;
        font-size: 22px;
        font-weight: 500;
        text-align: center;
    }

    .submit-area .submit-btn-active {
        cursor: pointer;
        min-width: 300px;
        padding: 10px;
        border-radius: 34px 34px 34px 34px;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        background: #db154a;
        color: #ffffff;
    }

    .submit-area .submit-btn-inactive {
        cursor: pointer;
        min-width: 300px;
        padding: 10px 30px 10px 30px;
        border-radius: 34px 34px 34px 34px;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        background: gray;
        color: #ffffff;
    }

    .check-recaptcha {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1%;
        display: flex;
        justify-content: center;
    }

    .check-bar {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-top: 1%;
        display: flex;
        font-size: 22px;
        font-weight: 500;
        border: 0.5px solid gray;
        text-align: center;
    }

    .check-bar .left {
        color: white;
        padding: 15px;
        display: none;
        background-color: #eb1a53;
    }

    .check-bar .center {
        font-size: 14px;
        color:gray;
        padding: 15px 2px 15px 2px;
        flex: 7;
        text-align: left;
    }

    .check-bar .center > input {
        background-color: transparent;
        border: 0 solid;
        width: 100%;
        height: 100%;
        font-size: 14px;
    }

    .check-bar .center > input:focus {
        outline: none;
    }

    .check-bar .right {
        cursor: pointer;
        color: white;
        max-width: 70px;
        padding: 15px;
        flex: 1;
        background-color: #eb1a53;
    }

    .white-list-container {
        width: 100%;
        min-height: 900px;
        background: #fff;
        margin-bottom: 10px;
        display: block;
        border: 1px solid white;
    }

    .white-list-inner {
        margin-top: 100px;
    }

    .white-list-container .main-font {
        width: 100%;
        margin: 20px auto 20px auto;
        text-align: center;
    }

    .white-list-container .main-font > h1 {
        font-size: 30px;
        text-transform: uppercase;
        color: #eb1a53;
        text-shadow: 5px -5px #93f7f3;
    }

    .white-list-container .main-font > p {
        width: 100%;
        font-size: 12px;
    }
}

@media screen and (min-width: 375px) {
    .white-list-inner {
        margin-top: 100px;
    }

}

@media screen and (min-width: 850px) {
    .white-list-inner {
        margin-top: 80px;
    }

    .submit-area {
        margin: 3% auto 50px auto;
        width: 70%;
        font-size: 22px;
        font-weight: 500;
        text-align: center;
    }

    .submit-area .submit-btn-active {
        cursor: pointer;
        min-width: 300px;
        padding: 10px;
        border-radius: 34px 34px 34px 34px;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        background: #db154a;
        color: #ffffff;
    }

    .submit-area .submit-btn-inactive {
        cursor: pointer;
        min-width: 300px;
        padding: 10px 30px 10px 30px;
        border-radius: 34px 34px 34px 34px;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        background: gray;
        color: #ffffff;
    }

    .check-recaptcha {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1%;
        display: flex;
        justify-content: center;
    }

    .check-bar {
        margin-left: auto;
        margin-right: auto;
        width: 850px;
        margin-top: 1%;
        display: flex;
        font-size: 22px;
        font-weight: 500;
        border: 0.5px solid gray;
        text-align: center;
    }

    .check-bar .left {
        display: inline;
        color: white;
        padding: 15px;
        flex: 2;
        background-color: #eb1a53;
    }

    .check-bar .center {
        font-size: 22px;
        padding: 15px;
        flex: 7;
        text-align: left;
    }

    .check-bar .center > input {
        background-color: transparent;
        border: 0 solid;
        width: 100%;
        height: 100%;
        font-size: 22px;
    }

    .check-bar .center > input:focus {
        outline: none;
    }

    .check-bar .right {
        cursor: pointer;
        color: white;
        padding: 15px;
        max-width: 70px;
        flex: 1;
        background-color: #eb1a53;
    }

    .white-list-container {
        width: 100%;
        min-height: 900px;
        background: #fff;
        margin-bottom: 10px;
        display: block;
        border: 1px solid white;
    }

    .white-list-container .main-font {
        width: 80%;
        margin: 50px auto 50px auto;
        text-align: center;
    }

    .white-list-container .main-font > h1 {
        font-size: 75px;
        text-transform: uppercase;
        color: #eb1a53;
        text-shadow: 5px -5px #93f7f3;
    }

    .white-list-container .main-font > p {
        width: 50%;
        font-size: 16px;
        line-height: 35px;
        margin: auto;
    }
}

@media screen and (min-width: 1000px) {
    .white-list-inner {
        margin-top: 300px;
    }
}