*{
    scroll-behavior: smooth;
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body {
    overflow-x: hidden;
    overflow-y: hidden;
    width:100%;
    background: #000000;


}
@media screen and (min-width:400px){
  body {
      min-height: 2300px;

  }
}


html {
    overflow-x: hidden;
    word-break: keep-all;
    overflow-x: hidden;
    -ms-overflow-style: none;
}

h1,h2,h3,h4, a {
    text-decoration: none;
}
